.herosection {
  min-height: 100vh;
}
.herosection3 {
  max-width: 1050px;
  margin: 60px auto;
  gap: 100px;
}
@media (max-width: 1200px) {
  .herosection3 {
    margin: 40px auto;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .herosection3 {
    margin: 15px auto;
    gap: 12px;
  }
}
@media (max-width: 480px) {
  .herosection3 {
    margin: 10px auto;
    gap: 12px;
  }
}
.morayo {
  width: 100%;
}
@media (min-width: 1200px) {
  .morayo {
    width: 450px;
    height: 450px;
    aspect-ratio: 4/4;
  }
}

.herosection1 {
  font-size: 24px;
  font-weight: 900;
}
.herosection2 {
  font-size: 85px;
  font-weight: 900;
}
.herosection5 {
  font-size: 40px;
  font-weight: 900;
}
.herosectionA {
  font-size: 24px;
  font-weight: 900;
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--white);
}
.herosectionA:hover {
  color: var(--black);
  background-color: var(--white);
}
@media (max-width: 475px) {
  .herosection1 {
    font-size: 16px;
    font-weight: 900;
  }
  .herosection2 {
    font-size: 42px;
    font-weight: 900;
  }

  .herosectionA {
    font-size: 12px;
    font-weight: 900;
  }
  .herosection5 {
    font-size: 30px;
    font-weight: 900;
  }
}
