#root {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #ce282c;
  --black: #000000;
  --white: #ffffff;
}

.custom-text-red {
  color: var(--red);
}
.custom-bg-red {
  background-color: var(--red);
}
.custom-text-black {
  color: var(--black);
}
.custom-bg-black {
  background-color: var(--black);
}
.custom-text-white {
  color: var(--white);
}
.custom-bg-white {
  background-color: var(--white);
}
.light-mode {
  --red: #000000;
  --black: #ffffff;
  --white: #000000;

  .Rcaimage {
    filter: grayscale(100%) !important;
  }
  .home1 {
    background-color: var(--black);
    color: var(--red);
  }
  .home4:hover {
    color: var(--white) !important;
  }
  .home5 {
    background-color: var(--black);
    border-bottom: 2px solid var(--red);
  }
  .home2,
  .home3 {
    color: var(--red);
  }
  .listen-Btn {
    background-color: var(--black);
    color: var(--red);
    border: 2px solid var(--red);
  }
  .listen-Btn:hover {
    background-color: var(--red);
    color: var(--black);
    border: 2px solid var(--black);
  }
}

/* .preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--black);
  color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader h1 {
  font-size: 100px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .preloader h1 {
    font-size: 80px;
  }
}
@media (max-width: 480px) {
  .preloader h1 {
    font-size: 60px;
  }
} */

/* .hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

/* scroll to top button */

.top-btn-position {
  position: fixed !important;
  bottom: 2% !important;
  right: 25px !important;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--black) !important;
  color: var(--red) !important;
  border: 2px solid var(--red);
  cursor: pointer;
  z-index: 1;
}
.top-btn-position:hover {
  animation: none;
  background-color: var(--red) !important;
  color: var(--black) !important;
  border: 2px solid var(--black) !important;
}

.Dark-Mode {
  position: fixed !important;
  bottom: 2% !important;
  right: 5% !important;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--black) !important;
  color: var(--red) !important;
  border: 2px solid var(--red);
  cursor: pointer;
  z-index: 1;
}
.Dark-Mode:hover {
  animation: none;
  background-color: var(--red) !important;
  color: var(--black) !important;
  border: 2px solid var(--black) !important;
}
@media (max-width: 1200px) {
  .Dark-Mode {
    position: fixed;
    bottom: 10% !important;
    right: 3% !important;
  }
  .top-btn-position {
    position: fixed;
    bottom: 2% !important;
    right: 3% !important;
  }
}
