.footer {
  min-width: 100vw;
}

.footer input {
  border: none;
  border-bottom: 1px solid var(--white);
  background-color: var(--black);
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
  width: 70%;
}
.footer input:focus {
  outline: none;
}

.footer button {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  font-size: 24px;
  font-weight: bold;
}
.footer p {
  font-size: 10px;
  font-weight: bold;
  /* font-weight: 700; */
  line-height: 1.15em;
  color: var(--red);
}
.footer p a {
  font-size: 10px;
  font-weight: bold;
  /* font-weight: 700; */
  line-height: 1.15em;
  color: var(--red);
}
@media (max-width: 1200px) {
  .footer p {
    color: var(--white);
  }
  .footer p a {
    color: var(--red);
  }
  .email {
    width: 90%;
    border-bottom: 1px solid var(--red);
    border-top: 1px solid var(--red);
    margin: 0 auto;
  }
  .record {
    width: 90%;
    margin: 0 auto;
  }
  .social {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .Rcaimage {
    width: 70px !important;
  }
}
